/* ===== Why-me-section ===== */

.why-me {
  width: 100%;
  display: flex;
  justify-content: center;
}

.why-me-container {
  width: 860px;
  height: 307px;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  text-align: center;
  font-family: 'Anta', sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: var(--blue);
  cursor: default;
}

.why-me-info {
  gap: 45px;
  width: 100%;
  height: 176px;
  display: flex;
}

.location {
  width: 50%;
  height: 63px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.location img {
  height: 100%;
  transition: opacity 0.15s ease;
}

.location-text {
  height: 40px;
  display: flex;
  align-items: center;
}


.location-text span {
  font-family: 'JosefinSans', sans-serif;
  color: var(--white);
  font-weight: bold;
  font-size: 30px;
  cursor: default;
  height: 40px;
  display: flex;
  align-items: center;
}

.location-text span::after {
  content: '|';
  animation: blink 0.7s infinite;
}

.why-me-text {
  width: 50%;
  font-family: 'JosefinSans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-me-text p {
  line-height: 1.2;
  letter-spacing: 0.5px;
  cursor: default;
}

.talk-button-container {
  height: 48px;
  display: flex;
  justify-content: flex-end;
  margin: 0 22px;
}

.talk-button-mobile {
  display: none;
}

.talk-button-mobile img {
  height: auto;
  transition: none;
}

.talk-button-mobile img:hover {
  background: none;
  cursor: pointer;
}

.talk-button-container img {
  height: 100%;
  border-radius: 30px;
  transition: background 0.4s ease;
  cursor: pointer;
}

.talk-button-container img:hover {
  background: #ffffff2b;
}