<section class="hero" id="home">
  <div class="hero-content">
    <div class="hero-photo">
      <div class="background"> <img src="./assets/images/BG shape.png" alt=""> </div>
      <div class="photo-oval">
        <img class="profile-img-1" src="assets/images/Bilal_Acil.webp" alt="Bilal Acil">
        <div>
          <img class="profile-img" src="assets/images/Bilal_Acil.webp" alt="Bilal Acil">
        </div>
      </div>
    </div>
    <div class="hero-text">
      <div class="hero-logo">
        <div class="logo-container">
          <div class="logo-label">
            <img src="assets/images/Bilal_Logo.png" alt="B.Acil Logo" class="hero-logo-icon">
            <span class="hero-logo-label">
              <span class="label-front">B.Acil</span>
              <span class="label-back">Developer</span>
            </span>
          </div>
          <div class="social-icons">
            <div class="s-icons">
              <a href="mailto:kontakt@bilal-acil.de" class="social-icon mail" aria-label="Email">
                <img class="rectangle-185" src="./assets/icons/Rectangle 185.png" alt="Email">
                <div class="vector-32"><img src="./assets/icons/Vector 32.png" style="position: absolute;"></div>
              </a>
              <a href="https://github.com/BilalAcil" target="_blank" class="social-icon" aria-label="GitHub">
                <div class="github-elipse"></div>
                <div class="github-button"></div>
              </a>
              <a href="https://www.linkedin.com/in/bilal-acil" target="_blank" class="social-icon"
                aria-label="LinkedIn">
                <div class="linkedin-elipse"></div>
                <div class="linkedin-button"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="hero-text-wrapper">
          <h1 class="hero-name">
            <span>B</span><span>I</span><span>L</span><span>A</span><span>L</span>
            <span class="space">&nbsp;</span>
            <span>A</span><span>C</span><span>I</span><span>L</span>
          </h1>
          <div class="flying-circle"></div>
          <div class="falling-icons">
            <img src="assets/icons/technologie icons/JS-logo.png" alt="JS">
            <img src="assets/icons/technologie icons/html-logo.png" alt="HTML">
            <img src="assets/icons/technologie icons/css-logo.png" alt="CSS">
          </div>
          <div>
            <h2 class="hero-title" data-de="FULLSTACK DEVELOPER" data-en="FULLSTACK DEVELOPER">FULLSTACK DEVELOPER</h2>
          </div>
        </div>
        <div class="scroll-indicator-container">
          <div class="scroll-indicator" onclick="springScroll(getScrollTarget('#why-me'))">
            <img src="./assets/icons/Arrow down.png" alt="Scroll down">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>