<section class="why-me" id="why-me">
  <div class="why-me-container">
    <h3 data-de="Über mich" data-en="Why me"></h3>
    <div class="why-me-info">
      <div class="location">
        <img id="location-icon" src="assets/images/Bilal_Acil_Titel.png" alt="">
        <div class="location-text">
          <span>Bilal Acil</span>
        </div>
      </div>
      <div class="why-me-text">
        <p data-de="Technologie macht erst dann Sinn, wenn sie den Menschen begeistert. Deshalb verbinde ich sauberen Code mit modernem Design. Mein Ziel sind Lösungen, die nicht nur stabil laufen, sondern intuitiv funktionieren."
          data-en="Technology only makes sense when it inspires people. That's why I combine clean code with modern design. My goal is to create solutions that don't just run smoothly, but function intuitively.">
        </p>
        <div class="talk-button-container">
          <img src="./assets/icons/Lets talk button.png"
               data-src-en="./assets/icons/Lets talk button.png"
               data-src-de="./assets/icons/reden wir button de.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
